body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #d2d9f5;
  }
  
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: #000000;
    background: #ffffff;
    border-radius: 10px;
  
  }
  .login-card{
    color: #ffffff;
    background: #3692ee;
  }
  